* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 36px;
    background-color: aliceblue;
  }
  
  .wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 10px;
  }
  
.matrix {
    display: grid;
    grid-gap: 8px;
    margin-top: 30px;
}

.matrix-first {
    width: 200px;
    height: 200px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.matrix-first .matrix__item {
    background-color: #1197dd;
    /* IE9, iOS 3.2+ */
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0idnNnZyIgZ3JhZGllbnRVbml0cz0idXNlclNwYWNlT25Vc2UiIHgxPSIwJSIgeTE9IjAlIiB4Mj0iMTAwJSIgeTI9IjEwMCUiPjxzdG9wIHN0b3AtY29sb3I9IiMxZWNlZjQiIHN0b3Atb3BhY2l0eT0iMSIgb2Zmc2V0PSIwIi8+PHN0b3Agc3RvcC1jb2xvcj0iIzAzNjBjNiIgc3RvcC1vcGFjaXR5PSIxIiBvZmZzZXQ9IjEiLz48L2xpbmVhckdyYWRpZW50PjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjdnNnZykiIC8+PC9zdmc+);
    background-image: -webkit-gradient(linear, 0% 0%, 100% 100%,color-stop(0, rgb(30, 206, 244)),color-stop(1, rgb(3, 96, 198)));
    /* Android 2.3 */
    background-image: -webkit-repeating-linear-gradient(top left,rgb(30, 206, 244) 0%,rgb(3, 96, 198) 100%);
    /* IE10+ */
    background-image: repeating-linear-gradient(to bottom right,rgb(30, 206, 244) 0%,rgb(3, 96, 198) 100%);
    background-image: -ms-repeating-linear-gradient(top left,rgb(30, 206, 244) 0%,rgb(3, 96, 198) 100%);
}

.matrix-second .matrix__item {
    background-color: #b574f0;
    /* IE9, iOS 3.2+ */
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0idnNnZyIgZ3JhZGllbnRVbml0cz0idXNlclNwYWNlT25Vc2UiIHgxPSIwJSIgeTE9IjAlIiB4Mj0iMTAwJSIgeTI9IjEwMCUiPjxzdG9wIHN0b3AtY29sb3I9IiM2YzFlZjQiIHN0b3Atb3BhY2l0eT0iMSIgb2Zmc2V0PSIwIi8+PHN0b3Agc3RvcC1jb2xvcj0iI2ZlYzllYiIgc3RvcC1vcGFjaXR5PSIxIiBvZmZzZXQ9IjEiLz48L2xpbmVhckdyYWRpZW50PjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjdnNnZykiIC8+PC9zdmc+);
    background-image: -webkit-gradient(linear, 0% 0%, 100% 100%,color-stop(0, rgb(108, 30, 244)),color-stop(1, rgb(254, 201, 235)));
    /* Android 2.3 */
    background-image: -webkit-repeating-linear-gradient(top left,rgb(108, 30, 244) 0%,rgb(254, 201, 235) 100%);
    /* IE10+ */
    background-image: repeating-linear-gradient(to bottom right,rgb(108, 30, 244) 0%,rgb(254, 201, 235) 100%);
    background-image: -ms-repeating-linear-gradient(top left,rgb(108, 30, 244) 0%,rgb(254, 201, 235) 100%);
}

.matrix-third .matrix__item {
    background-color: #34b48a;
    /* IE9, iOS 3.2+ */
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0idnNnZyIgZ3JhZGllbnRVbml0cz0idXNlclNwYWNlT25Vc2UiIHgxPSIwJSIgeTE9IjAlIiB4Mj0iMTAwJSIgeTI9IjEwMCUiPjxzdG9wIHN0b3AtY29sb3I9IiMyMDkyMTUiIHN0b3Atb3BhY2l0eT0iMSIgb2Zmc2V0PSIwIi8+PHN0b3Agc3RvcC1jb2xvcj0iIzQ3ZDVmZSIgc3RvcC1vcGFjaXR5PSIxIiBvZmZzZXQ9IjEiLz48L2xpbmVhckdyYWRpZW50PjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjdnNnZykiIC8+PC9zdmc+);
    background-image: -webkit-gradient(linear, 0% 0%, 100% 100%,color-stop(0, rgb(32, 146, 21)),color-stop(1, rgb(71, 213, 254)));
    /* Android 2.3 */
    background-image: -webkit-repeating-linear-gradient(top left,rgb(32, 146, 21) 0%,rgb(71, 213, 254) 100%);
    /* IE10+ */
    background-image: repeating-linear-gradient(to bottom right,rgb(32, 146, 21) 0%,rgb(71, 213, 254) 100%);
    background-image: -ms-repeating-linear-gradient(top left,rgb(32, 146, 21) 0%,rgb(71, 213, 254) 100%);
}

.matrix-second {
    width: 300px;
    height: 300px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.matrix-third {
    width: 450px;
    height: 450px;
    font-size: 30px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
}

.matrix__item {
    border: 1px solid blue;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #0318c6;
    text-shadow: #36bfdc 1px 1px 0;
    -webkit-box-shadow: 5px 5px 5px 0px #000000, inset 4px 4px 15px 0px #000000, 5px 5px 15px 5px rgba(0,0,0,0); 
    box-shadow: 5px 5px 5px 0px #000000, inset 4px 4px 15px 0px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
}